<html>
  <head>
    <title>TrafficSpy</title>
  </head>
  <body>
    <h3>URL Requests</h3>
    <ul>
      <% @urls.each do |url| %>
        <li>
          <%= url[:rooturl] %>
        </li>
      <% end %>
    </ul>
    <h3>Browsers</h3>
    <ul>
      <% @browsers.each do |browser| %>
        <li>
          <%= browser[:userAgent] %>
        </li>
      <% end %>
    </ul>
  </body>
</html>




