<h1>Event Details</h1>
  &nbsp
  &nbsp
  &nbsp
<h3>Hour by Hour Breakdown for event: <strong>"<%= @name %>"</strong></h3>
    <ul>
          <% @hourly_events.each do |event| %>
             <li>Hour: <strong><%= event.first %></strong>,
                 Hits: <strong><%= event.last %></strong>
             </li> 
          <% end %>
        </li>
    </ul>
