<h3>URL Specific Data</h3>
  <h4>Response times for "<%= params[:splat].first %>" path:</h4>
    <ul>
          <% @response_times.each do |time| %>
          <li>
             <%= time %> ms
          </li>
          <% end %>
    </ul>
